*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: sans-serif;
    background: linear-gradient(220.55deg, #DD7BFF 0%, #FF6C6C 100%);
}

header{
    display: flex;

}

a{
    text-decoration: none;
}

.contenedorHeader{
    background: linear-gradient(220.55deg, #FF6C6C 0%, #DD7BFF 100%);
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contenedorHeader .titulo{
    font-size: 35px;
    text-decoration: none;
}

.botones{
    margin: 0;
    padding: 0;
    display: flex;
    width:30%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style: none;
}